@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body,
  h1,
  h2 {
    margin: 0;
    padding: 0;
  }

  body {
    /* @apply bg-slate-900; */
    /* color: white; */
    font-size: 18px;
    line-height: 1.6;
    font-family: "Hanken Grotesk", sans-serif;
  }

  .wrapper {
    max-width: min(100ch, 100% - 4rem);
    margin-inline: auto;
  }
}

section,
main,
header {
  width: 100%;
  margin: 0 auto;
}

.mobile-nav {
  @apply fixed w-2/3 top-0 right-0 bottom-0 bg-black justify-between lg:bg-opacity-0;
}

.menu-nav {
  position: unset;
  background-color: transparent;
}

input {
  @apply block;
}

label {
  @apply mx-12;
}

input[type="text"],
input[type="email"] {
  @apply text-black py-1 px-4 rounded-lg mx-12 my-4 border-2 border-solid border-purple-800 hover:ring-2;
  width: 80%;
  font-family: inherit;
}

textarea {
  width: 80%;
  height: 10rem;
  font-family: inherit;
  @apply text-black py-1 px-4 block rounded-lg mx-12 my-4 border-2 border-solid border-purple-800 hover:ring-2;
}

/* input[type='checkbox'] {
    @apply  checked:via-lime-500 marker:border-pink-200
} */
